@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CDN - Complete Developer Network Freelancer Directory</h1>
    <p class="lead">A fictional company, CDN - Complete Developer Network is going to build a list of freelancers.</p>
    
</div>
<p>
    Welcome to CDN's Freelancer Directory project! This project aims to build a RESTful API for managing a list of freelancers, connecting to a relational database, and providing a simple interface for user operations.
    Getting Started
    Follow the steps below to set up and run the project locally.
</p>
<div class="row">

    <div class="col-md-4">
        <h2>Prerequisites</h2>
        <p>Visual Studio -  Run the application in local</p>
        <p>SQL Server - Perform the Database Operations </p>
    </div>
    <div class="col-md-4">
        <h2>Database Setup</h2>
        <p>SQL Server - Locate the Database from the respective location and configure the DB</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>API Endpoints</h2>
        <p>GET /users: Get a list of registered users.</p>
        <p>PUT /users/:userId: Update user details.</p>
        <p>DELETE /users/:userId: Delete a user.</p>
        <p>POST /users: Register a new user.</p>
    </div>
</div>